<style>  
 #user {
  background-color:white;
 }
 #div1 {
  padding-right : 20px;
 }
</style>  
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/urls">My URLs</a>
      <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
    </div>
  </div>
<!-- implments user email on button (visual only) and logout button when logged in -->
  <% if(userObj){ %>
  <div id = "div1">
    <button id ="user" type="button" class="btn btn-outline-primary btn-lg">Logged in as: <b><%= userObj.email %></b></button>
  </div>
  <div>
    <form method = "POST" action = "/logout">
      <button type="submit" class="btn btn-secondary">Logout</button>
    </form>
  </div>
  <!-- implements login and register buttons if logged out -->
  <% } else {%>
  <div>
    <a href="/register"><button class="btn btn-secondary">Register</button></a>
    <a href="/login"><button class="btn btn-success">Login</button></a>
  </div>
  <% } %>
</nav>
</header>